/* eyoucms.com 易优CMS -- 好用,免费,安全 */
body {
	font-family: "微软雅黑", Arial;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.7;
	color: #5a5a5a;
	background: #fff;
	position: relative;
}
p {
	margin: 0;
	font-weight: normal;
}
h1, h2, h3, h4, h5, h6, figure {
	color: #444;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 400;
}
::-webkit-selection {
color: #fff;
background: #323232;
}
::-moz-selection {
color: #fff;
background: #323232;
}
::selection {
	color: #fff;
	background: #323232;
}
.text-lowercase {
	text-transform: lowercase;
}
.text-uppercase, .initialism {
	text-transform: uppercase;
}
.text-capitalize {
	text-transform: capitalize;
}
.float_bg {
	background: url(https://ceshi.rypfw.com/template/pc/skin/img/qq_3.gif) repeat-y
}
a {
	color: #666;
	text-decoration: none
}
a:focus, a:hover {
	color: #c00;
}
.bg-main {
	background: #CCAC85;
	border: 1px solid #CCAC85 !important
}
.bg-main:hover, .bg-main:focus {
	border: 1px solid #666 !important;
	background: #666 !important
}
.button.bg-main {
	border-color: #CCAC85 !important
}
.button.bg-main:hover {
	border-color: #666 !important;
}
.passcode {
	border-left: 1px solid #ddd;
	border-radius: 0 4px 4px 0;
	height: 32px;
	line-height: 32px;
	margin: 1px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
}
.detail h2, .detail h3 {
	line-height: 180%
}
.detail h3, .detail h1 {
	font-size: 18px;
	color: #5a5a5a;
	;
	font-weight: bold
}
.layout {
	overflow: hidden;
	width: 100%;
}
.not-animated {
	opacity: 0
}
ul, li {
	padding: 0;
	margin: 0
}
.line-big {
	margin-left: -15px;
	margin-right: -15px
}
.line-big .x1, .line-big .x2, .line-big .x3, .line-big .x4, .line-big .x5, .line-big .x6, .line-big .x7, .line-big .x8, .line-big .x9, .line-big .x10, .line-big .x11, .line-big .x12, .line-big .xl1, .line-big .xl2, .line-big .xl3, .line-big .xl4, .line-big .xl5, .line-big .xl6, .line-big .xl7, .line-big .xl8, .line-big .xl9, .line-big .xl10, .line-big .xl11, .line-big .xl12, .line-big .xs1, .line-big .xs2, .line-big .xs3, .line-big .xs4, .line-big .xs5, .line-big .xs6, .line-big .xs7, .line-big .xs8, .line-big .xs9, .line-big .xs10, .line-big .xs11, .line-big .xs12, .line-big .xm1, .line-big .xm2, .line-big .xm3, .line-big .xm4, .line-big .xm5, .line-big .xm6, .line-big .xm7, .line-big .xm8, .line-big .xm9, .line-big .xm10, .line-big .xm11, .line-big .xm12, .line-big .xb1, .line-big .xb2, .line-big .xb3, .line-big .xb4, .line-big .xb5, .line-big .xb6, .line-big .xb7, .line-big .xb8, .line-big .xb9, .line-big .xb10, .line-big .xb11, .line-big .xb12 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px
}
#fh5co-wrapper {
	overflow-x: hidden;
}
#fh5co-page {
	position: relative;
	z-index: 2;
	background: #fff;
	overflow-x: hidden;
}
.fh5co-heading {
	position: relative;
	z-index: 1
}
.fh5co-heading h2 {
	color: rgb(51, 51, 51);
	font-family: 微软雅黑;
	font-size: 24px;
	line-height: 250%;
}
.fh5co-heading span.desc {
	color: rgb(149, 149, 149);
	font-family: 微软雅黑;
	line-height: 250%;
}
.fh5co-heading span.more {
	z-index: 2;
	display: block;
	position: absolute;
	right: 0;
	bottom: 9px;
	background: #CBAC85;
	width: 50px;
	height: 35px;
	line-height: 35px;
	text-align: center
}
.fh5co-heading span.more a {
	color: #fff;
	font-size: 18px;
	display: block;
	width: 50px;
	height: 35px;
}
/*顶部导航 begin*/
.main-top {
	position: relative;
	width: 100%;
}
#fh5co-header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 80px;
	z-index: 3
}
.inner-box-body #fh5co-header {
	position: static !important;
	height: auto !important
}
#fh5co-header .header-box {
	background: url(../img/top_bg1.png) no-repeat center top;
}
.header-box.fixed.fixed-top {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	width: 100%;
	z-index: 3;
}
#fh5co-header .navbar {
	boder: none;
}
#fh5co-header .navbar-head {
	padding: 3px 34px 0 0;
}
#fh5co-header .navbar-head img {
	width: 180px;
}
#fh5co-header .navbar-body .nav {
}
#fh5co-header .navbar-body .nav li {
	margin: 0;
	padding: 0;
	display: inline;
	padding: 0 16px;
}
#fh5co-header .navbar-body .nav li a {
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	padding: 0;
	text-align: center;
	text-decoration: none;
	line-height: 80px;
	padding: 0 11px;
}
#fh5co-header .navbar-body .nav li a:hover, #fh5co-header .navbar-body .nav li.current a.first-level, #fh5co-header .navbar-body .nav li:hover a.first-level {
	color: #cbac85;
}
#fh5co-header .navbar-body .nav li a .downward {
	display: none
}
#fh5co-header .navbar-body .nav li ul {
	border: none;
	left: 16px;
	border-radius: 0;
	margin: 0;
	padding: 0;
	min-width: 160px;
	z-index: 4;
}
#fh5co-header .navbar-body .nav li ul li {
	margin: 0;
	padding: 0;
	height: auto;
	display: block;
	height: auto
}
#fh5co-header .navbar-body .nav li ul li a {
	background: #00A0EA;
	color: #fff;
	display: block;
	width: 100%;
	padding: 0px 20px 0px 20px;
	margin: 0;
	text-align: left;
	min-width: 160px;
	line-height: 45px;
}
#fh5co-header .navbar-body .nav li ul li a:hover {
	background: #fff;
	color: #666;
}
#fh5co-header .navbar-body .nav li ul li ul {
	top: 0
}
#fh5co-header .navbar-form {
	height: 32px;
	margin-top: 27px;
	border-bottom: 1px solid #A7A7A7;
	padding: 0 0 15px;
	margin-left: 85px;
}
#fh5co-header .navbar-form input.inputkey {
	color: #999;
	height: 24px;
	line-height: 20px;
	padding: 0px;
	width: 145px;
	float: left;
	background: none;
	border: none;
}
#fh5co-header .navbar-form button {
	display: block;
	height: 24px;
	width: 20px;
	font-size: 17px;
	float: left;
	border: none;
	background: none;
	padding: 0;
	margin: 0;
	color: #8C8A8A;
	font-weight: normal
}
/*顶部导航 end*/

/*手机版顶部导航 begin */
#fh5co-offcanvas, .fh5co-nav-toggle, #fh5co-page {
}
#fh5co-offcanvas, .fh5co-nav-toggle, #fh5co-page {
	position: relative;
}
#fh5co-page {
	z-index: 2;
}
#fh5co-offcanvas {
	display: none;
	right: 0;
	overflow-y: hidden;
	position: fixed;
	z-index: 5;
	top: 10px;
	width: 140px;
	background: #fff;
	padding: 0px 0px 10px 40px;
	border: 0;
}
.offcanvas-visible #fh5co-offcanvas {
	display: block;
}
#fh5co-offcanvas ul {
	padding: 0;
	margin: 0;
}
#fh5co-offcanvas ul li {
	list-style: none;
	position: static;
	width: 100%;
	margin: 0;
	padding: 0;
}
#fh5co-offcanvas ul li:hover, #fh5co-offcanvas ul li.current {
}
#fh5co-offcanvas ul li a {
	font-size: 12px;
	color: #333;
	text-decoration: none !important;
	display: block;
	position: relative;
	line-height: 34px;
	margin: 0;
	padding: 0px 0 0 2px;
}
#fh5co-offcanvas ul li a:hover, #fh5co-offcanvas ul li.current a {
	color: #f00;
}
#fh5co-offcanvas ul li a::after {
	background: #eee;
	position: absolute;
	content: '';
	left: 0px;
	bottom: 0;
	right: 0;
	height: 1px;
}
#fh5co-offcanvas ul li ul {
	margin: 0;
	padding: 0;
	z-index: 6;
	position: relative;
	width: 100%;
	border: 0;
	box-shadow: 0
}
#fh5co-offcanvas ul li ul li {
	margin: 0;
	padding: 0;
	display: block;
	border: none;
	line-height: 28px;
}
#fh5co-offcanvas ul li ul li a, #fh5co-offcanvas ul li.current ul li a {
	background: #8fbf4d;
	color: #fff;
	display: block;
	padding: 0px 20px 0px 20px;
	margin: 0;
	text-align: left;
	width: 100%;
	font-size: 12px;
	line-height: 28px;
}
#fh5co-offcanvas ul li ul li a:hover {
	background: #360;
	color: #fff;
}
#fh5co-offcanvas ul li ul li a::before, #fh5co-offcanvas ul li ul li a::after {
	background: none;
	height: 0;
	padding: 0
}
#fh5co-offcanvas ul li ul li ul {
	top: 0
}
.fh5co-nav-toggle {
	cursor: pointer;
	text-decoration: none;
}
.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
	background: #fff;
}
.fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
	outline: none;
	border-bottom: none !important;
}
.fh5co-nav-toggle i {
	position: relative;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
*display: inline;
	width: 28px;
	height: 4px;
	color: #fff;
	font: bold 14px/.4 Helvetica;
	text-transform: uppercase;
	text-indent: -55px;
	background: #fff;
	transition: all .2s ease-out;
}
.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
	content: '';
	width: 28px;
	height: 4px;
	background: #fff;
	position: absolute;
	left: 0;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.fh5co-nav-toggle i::before {
	top: -9px;
}
.fh5co-nav-toggle i::after {
	bottom: -9px;
}
.fh5co-nav-toggle:hover i::before {
	top: -10px;
}
.fh5co-nav-toggle:hover i::after {
	bottom: -10px;
}
.fh5co-nav-toggle.active i {
	background: none;
}
.fh5co-nav-toggle.active i::before {
	background: none
}
.fh5co-nav-toggle.active i::after {
	background: none
}
.fh5co-nav-toggle {
	position: fixed;
	top: 23px;
	right: 10px;
	z-index: 7;
	display: block;
	display: none;
	cursor: pointer;
}
.fh5co-nav-toggle.active {
	right: 109px !important;
	top: 15px !important;
	background: url(../img/coo.gif) no-repeat left top;
	width: 20px;
	height: 23px;
}
/*手机版顶部导航 end */

/* 底部 begin*/
footer {
	background: #222;
}
footer .foot-top .foot-logo {
	margin: 0px 0 2px;
}
footer .foot-top {
	padding: 65px 0 30px
}
footer .foot-top .foot-logo img {
	height: 55px;
}
footer .foot-top .foot-contact {
	color: rgb(123, 123, 123);
	font-family: 微软雅黑;
	font-size: 14px;
	line-height: 310%;
}
footer .foot-top .foot-contact p {
	line-height: 310%;
}
footer .foot-top .foot-contact p img {
	vertical-align: middle;
	padding-right: 10px;
}
footer .foot-top .foot-contact a {
	font-size: 14px;
	color: rgb(123, 123, 123);
}
footer .foot-top h2 {
	position: relative;
	margin-bottom: 37px;
	color: rgb(203, 172, 133);
	font-family: 微软雅黑;
	font-size: 18px;
}
footer .foot-top .foot-nav a {
	color: rgb(102, 102, 102);
	font-size: 14px;
}
footer .foot-top .foot-nav .item {
	margin-bottom: 12px;
}
footer .foot-top .last-item {
	margin-left: 55px;
}
footer .foot-top .attention-list {
	font-size: 14px;
	line-height: 330%;
}
footer .foot-top .attention-list .attention-txt {
	margin-left: 10px;
}
footer .foot-top .attention-list .attention-txt .desc {
	margin: 5px 0 10px
}
footer .foot-top .attention-list .media-img {
	margin-right: 10px;
}
footer .foot-top .attention-list .media-img img {
	max-width: 100%
}
footer .Copyright {
	padding: 20px 0 30px
}
footer .Copyright .copy {
	color: rgb(90, 90, 90);
	font-family: 微软雅黑;
	line-height: 16.8px;
	border-top: 1px dashed #363636;
	padding: 30px 0 0
}
}
/* 底部 end*/

/*首页轮换图片 begin*/
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
	outline: none;
}
.slides, .flex-control-nav, .flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}
.flexslider {
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 1
}
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
	position: relative
}
.flexslider .slides li .overlay {
	position: absolute;
	top: 32%;
	left: 0;
	right: 0;
	bottom: 0;
}
.flexslider .slides img {
	width: 100%;
	display: block;
}
.flex-pauseplay span {
	text-transform: capitalize;
}
.slides:after {
	content: "\0020";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .slides {
	display: block;
}
* html .slides {
	height: 1%;
}
.no-js .slides > li:first-child {
	display: block;
}
.flex-control-nav {
	position: absolute;
	bottom: 15px;
	z-index: 2;
	width: 100%;
	text-align: center;
}
.flex-control-nav li {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 0 5px;
*display:inline;
	zoom: 1;
}
.flex-control-nav a {
	display: inline-block;
	cursor: pointer;
	width: 15px;
	height: 15px;
	float: left;
	text-indent: -2000px;
	background: none;
	border: 2px solid #ddd;
	border-radius: 50%
}
.flex-control-nav .flex-active {
	background: #FFF;
	border: 2px solid #fff;
}
.flex-direction-nav {
	position: absolute;
	z-index: 3;
	width: 100%;
	top: 50%;
	display: none
}
#fh5co-hero .flexslider .container {
	position: relative
}
#fh5co-hero .flexslider .slider-text {
	display: table;
	height: 100%;
	width: 50%;
	margin: 0 auto;
	text-align: left;
	position: absolute;
	left: 50%;
	margin-left: -25%;
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner h2 {
	color: rgb(255, 255, 255);
	font-family: 幼圆;
	font-size: 40px;
	letter-spacing: 1px;
	line-height: 200%;
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner p.f-txt {
	color: rgb(255, 255, 255);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 180%;
}
/*首页轮换图片 end*/

/*首页热点切换*/
#fh5co-tab-list .bg-tab {
	background: #F6F6F6;
	padding: 48px 0 50px;
}
#fh5co-tab-list .tab-head .tab-nav li a {
	height: 32px;
	line-height: 32px;
	text-align: center;
	width: 120px;
	border: none;
	font-size: 18px;
	font-weight: normal;
	color: #888;
	cursor: pointer
}
#fh5co-tab-list .tab-head .tab-nav li.active {
	background: none
}
#fh5co-tab-list .tab-head .tab-nav li a:hover, #fh5co-tab-list .tab-head .tab-nav li.active a {
	color: #333
}
#fh5co-tab-list .tab-body {
	border: none;
	margin-top: 20px;
}
#fh5co-tab-list .tab-body .portfolio-img {
	overflow: hidden
}
#fh5co-tab-list .tab-body .portfolio-img img {
	width: 100%
}
/*首页关于我们begin*/
#fh5co-about-us .bg-about {
	background: url(../img/about-bg.jpg) no-repeat center top;
	padding: 50px 0 80px;
	background-size: cover
}
#fh5co-about-us .intro h3 {
	color: rgb(221, 221, 221);
	font-family: 微软雅黑;
	font-size: 20px;
	line-height: 400%;
}
#fh5co-about-us .intro .desc {
	color: rgb(221, 221, 221);
	font-family: 微软雅黑;
	font-size: 14px;
	line-height: 230%;
	padding: 0 120px;
	margin-bottom: 37px;
}
#fh5co-about-us .intro p.more a {
	height: 38px;
	line-height: 38px;
	width: 110px;
	margin: 0 auto;
	border: 1px solid rgb(221, 221, 221);
	display: block;
	color: #fff
}
#fh5co-about-us .intro p.more a:hover {
	background: #ddd;
	color: #000
}
/*首页关于我们 end*/


/* 首页产品展示 begin*/
#fh5co-product-list .bg-product {
	padding: 60px 0 40px;
	background: #fff;
}
#fh5co-product-list .show-list {
	padding: 30px 0 0px 0;
}
/* 首页产品展示 end*/

/* 产品展示 begin*/
.show-product .media-img {
	overflow: hidden;
}
.show-product .media-img:hover {
}
.show-product .media-img img {
	width: 100%;
}
.show-product .media-img img:hover {
	opacity: 0.8
}
.show-product h3 {
	margin-top: 10px;
	white-space: nowrap;
	overflow: hidden
}
.show-product h3 a {
	font-size: 16px;
}
/* 产品展示 end*/


/* 首页新闻中心 begin*/
#fh5co-news-list .bg-news {
	background-color: #fff;
	padding: 55px 0 70px;
}
#fh5co-news-list .show-list {
	margin-top: 30px;
}
#fh5co-news-list .show-list .item .media-img {
	overflow: hidden;
	text-align: center
}
#fh5co-news-list .show-list .item .media-img img {
	max-width: 100%;
}
#fh5co-news-list .show-list .item h3 {
	margin: 23px 0 2px;
	white-space: nowrap;
	overflow: hidden
}
#fh5co-news-list .show-list .item h3 a {
	color: #5a5a5a;
	display: inline-block;
	font-family: Microsoft YaHei;
	font-size: 16px;
	font-weight: bold;
	line-height: 140%;
	text-decoration: none;
}
#fh5co-news-list .show-list .item h3 a:hover {
	color: #CBAC85
}
#fh5co-news-list .show-list .item span.time {
	color: #999999;
	display: block;
	font-family: Microsoft YaHei;
	font-size: 12px;
	font-weight: normal;
	line-height: 140%;
	text-decoration: none;
}
#fh5co-news-list .show-list .item .desc {
	color: #888888;
	display: inline-block;
	font-family: Microsoft YaHei;
	font-size: 14px;
	font-weight: normal;
	line-height: 160%;
	padding-top: 11px;
	text-decoration: none;
	border-bottom: 1px dotted #e2e2e2;
	padding-bottom: 15px;
	margin-bottom: 23px;
}
#fh5co-news-list .show-list .item .more a {
	color: rgb(67, 67, 67);
	font-family: 微软雅黑;
	font-size: 12px;
	font-weight: bold
}
/* 首页新闻中心 end*/


/* 内页 begin*/
#fh5co-content_show {
	padding-bottom: 50px;
}
#fh5co-content_show .show_body {
	font-size: 14px;
}
#fh5co-content_show .detail img {
	height: auto !important;
	max-width: 100%;
	vertical-align: middle;
	margin-bottom: 11px;
}
#fh5co-content_show .detail img {
	opacity: 0.9;
}
#fh5co-content_show .detail p {
	text-indent: 0;
	font-size: 14px;
	line-height: 200%
}
#fh5co-content_show .qhd-title span {
	margin: 0 5px;
	font-size: 12px;
	color: #999
}
#fh5co-content_show .detail {
	font-size: 12px;
	padding-bottom: 10px;
	line-height: 24px;
	color: #666;
}
#fh5co-content_show .qhd-title {
	border-bottom: 1px solid #eee;
	margin-bottom: 25px;
	padding-top: 6px;
}
#fh5co-content_show .qhd-title strong {
	font-weight: normal
}
#fh5co-content_show .contact-box span {
	border: 2px solid #CBAC85;
	border-radius: 50%;
	color: #CBAC85;
	display: inline-block;
	font-size: 12px;
	height: 22px;
	line-height: 19px;
	text-indent: 2px;
	width: 22px;
}
#fh5co-content_show .contact-box span.icon1 {
	text-indent: 3px;
}
#fh5co-content_show .contact-box span em {
	font-size: 12px;
}
#fh5co-content_show .inner-nav {
	height: 70px;
	line-height: 70px;
	background: #F6F6F6;
}
#fh5co-content_show .inner-nav h3 {
	background: #CCAC85;
	color: #fff;
	font-size: 24px;
	text-align: center;
	height: 70px;
	line-height: 70px;
	max-width: 250px;
	font-weight: bold;
	letter-spacing: 2px;
}
#fh5co-content_show .inner-nav h3 a {
	color: #fff;
}
#fh5co-content_show .inner-nav .right-menu {
	padding-right: 15px;
}
#fh5co-content_show .inner-nav .nav {
	padding: 0
}
#fh5co-content_show .inner-nav .nav li {
	display: inline-block;
	padding: 0;
	margin: 0
}
#fh5co-content_show .inner-nav .nav li a {
	display: block;
	font-size: 16px;
	color: #666;
	line-height: 70px;
	padding: 0 25px;
	margin: 0
}
#fh5co-content_show .inner-nav .nav li a:hover {
	background: #EAEAEA
}
#fh5co-content_show .contact-box {
	text-align: center;
	background: #F0F0F0;
	padding: 25px 20px 35px;
	max-width: 600px;
	margin: 50px auto 30px;
	color: #333;
	font-size: 16px;
}
#fh5co-content_show .contact-box h2 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 6px;
}
#fh5co-content_show .contact-box p {
	font-size: 16px;
	line-height: 220%;
}
#fh5co-content_show .contact-box p a {
	color: #333
}
/*分页*/
.table span {
	margin-right: 10px;
}
.content_detail .pager {
	font-size: 14px;
	padding: 0;
	margin: 0
}
.content_detail .pager a {
	border: none;
	color: #666;
}
.content_detail .pager a:focus, .content_detail .pager a:hover {
	color: #CCAC85;
	background: none
}
.content_detail .pager li {
	display: block;
	text-align: left;
	line-height: 200%
}
#fh5co-content_show .pagination .active, #fh5co-content_show .pagination a:hover {
	background: #000;
	color: #fff;
}
#fh5co-content_show .pagination .active a {
	color: #fff
}
#fh5co-content_show .pagination li {
	margin: 0 3px;
}
#fh5co-content_show video {
	max-width: 100%
}
#fh5co-content_show .product-detail {
	padding: 20px;
}
#fh5co-content_show .product-detail img {
	max-width: 100%;
	overflow: hidden;
	vertical-align: middle;
}
#fh5co-content_show .product-detail .content-img {
	overflow: hidden;
	width: 90%
}
#fh5co-content_show .product-detail .content-img img {
	width: 100%;
	overflow: hidden;
	vertical-align: middle;
}
#fh5co-content_show .product-detail h1 {
	border-bottom: 1px solid #ddd;
	color: #000;
	font-size: 24px;
	line-height: 33px;
	padding-bottom: 6px;
}
#fh5co-content_show .product-detail .p_desc {
	color: #666;
	line-height: 24px;
	padding: 20px 0 30px;
	font-size: 14px;
}
#fh5co-content_show .product-detail .kefu_bnts {
	background: #CCAC85;
	color: #FFF;
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-decoration: none;
	font-size: 16px;
	display: block;
	text-align: center
}
#fh5co-content_show .product-detail .kefu_bnts:hover {
	background: #FF5417;
}
#fh5co-content_show .product-detail .description {
	line-height: 28px;
	font-size: 14px;
	margin-bottom: 20px;
}
#fh5co-content_show .product-detail .description p {
	line-height: 28px;
}
#fh5co-content_show .product-detail .detail-title {
	border-bottom: 1px solid #666;
	position: relative;
	height: 37px;
}
#fh5co-content_show .product-detail .detail-title h2 {
	background: #fff;
	color: #666;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	width: 126px;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	border-top: 1px solid #666;
	border-bottom: 1px solid #fff;
	position: absolute;
	left: 0;
	top: 1px;
}
#fh5co-content_show .product-detail table td {
	text-align: center
}
#fh5co-content_show .product-detail #quirydialog {
	display: none;
}
#quirydialog .qdialog-head {
	font-size: 16px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 7px;
	margin-bottom: 20px;
	width: 900px;
	padding-right: 10px;
}
#quirydialog .field {
	padding-right: 10px;
}
/*在线留言产品推荐*/
#fh5co-rec-product-list {
	margin-bottom: 80px;
}
#fh5co-rec-product-list #demo {
	overflow: hidden;
	width: 100%;
	height: 306px;
}
#fh5co-rec-product-list #demo #indemo {
	float: left;
	width: 800%;
}
#fh5co-rec-product-list #demo #indemo #demo1 {
	float: left;
}
#fh5co-rec-product-list #demo #indemo #demo2 {
	float: left;
}
#fh5co-rec-product-list #demo #indemo li {
	float: left;
	width: 250px;
	list-style: none;
	margin-right: 25px;
}
#fh5co-rec-product-list #demo #indemo li img {
	width: 250px;
	height: 306px;
	padding: 0
}
/*新闻中心产品推荐*/
.news-rec_product {
	margin-bottom: 20px;
}
.news-rec_product #demo {
	overflow: hidden;
	width: 100%;
	height: 1120px;
	overflow: hidden;
}
.news-rec_product #demo li {
	width: 100%;
	max-width: 250px;
	list-style: none;
	margin-bottom: 20px;
}
.news-rec_product #demo li img {
	width: 100%;
	padding: 0;
	max-width: 250px;
}
/*关于我们*/
#fh5co-content_show .detail .head-title {
	text-align: center;
	color: rgb(68, 68, 68);
	font-family: 微软雅黑;
	font-size: 26px;
	height: 84px;
	position: relative
}
#fh5co-content_show .detail .head-title:after {
	position: absolute;
	background: #CBAC85;
	width: 34px;
	height: 2px;
	content: "";
	bottom: 40px;
	left: 50%;
	margin-left: -17px;
	text-align: center
}
#fh5co-content_show .detail .about-list-item {
	margin-top: 70px;
}
#fh5co-content_show .detail .about-desc p {
	margin-bottom: 18px;
	line-height: 230%
}
#content_1 {
	height: 279px;
	overflow: auto;
}
/*文章*/
#fh5co-content_show .article-media li {
	border-bottom: 1px dashed #ddd;
	padding: 5px 0 15px
}
.article-media .media .media_img {
	border-color: #cfcfcf;
	border-style: solid;
	border-width: 1px;
	width: 152px;
	margin-right: 20px;
}
.article-media .media .media_img a {
	border-color: -moz-use-text-color;
	border-style: none;
	border-width: medium;
	padding: 0;
}
.article-media .media .media_img a:hover {
	border-color: -moz-use-text-color;
	border-style: none;
	border-width: medium;
	background: #fff4ce none repeat scroll 0 0;
}
.article-media .media .media_img img {
	height: 110px;
	width: 150px;
	padding: 1px;
}
.article-media li {
	margin-bottom: 12px;
}
.article-media img {
	display: block;
	width: 150px;
}
.article-media .media .time {
	color: #999
}
.article-media .media-body h3 {
	font-size: 14px;
}
.article-media .media-body h3 a {
	color: #333;
	font-size: 14px;
	line-height: 100%;
	font-weight: bold
}
.article-media .media-body h3 a:hover {
	color: #CCAC85
}
.article-media .media-body p {
	color: #888;
	line-height: 22px;
	font-size: 14px;
}
/*内页banner*/
.slideshow {
	height: 260px;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover
}
.slideshow .container {
	height: 100%;
	display: table;
	position: relative;
	z-index: 1;
}
.slideshow .overlay {
	position: absolute;
	z-index: 2;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 45px;
	line-height: 45px;
	background: #000;
	opacity: 0.3
}
.slideshow .overlay .title {
	position: relative;
	z-index: 3
}
.slideshow .overlay .title .bread {
	padding: 0 0 0 15px;
	margin: 0;
}
.slideshow .overlay .title .bread li {
	padding: 0;
	margin: 0
}
.slideshow .overlay .title .bread li a {
	color: #fff;
}
.slideshow .overlay .title .bread li a i {
	margin-right: 5px;
}
/*在线客服*/
.SonlineBox {
	width: 139px;
	font-size: 12px;
	overflow: hidden;
	z-index: 8;
}
.SonlineBox .openTrigger {
	width: 31px;
	height: 130px;
	position: absolute;
	top: 0px;
	z-index: 1;
	cursor: pointer;
	background: #a9060e url(https://ceshi.rypfw.com/template/pc/skin/img/greenopen.jpg) no-repeat;
}
.SonlineBox .titleBox {
	width: 135px;
	height: 35px;
	line-height: 33px;
	background: #a9060e;
	border-bottom: 2px solid #a9060e;
}
.SonlineBox .titleBox span {
	margin-left: 10px;
	color: #fff;
	font-size: 14px;
}
.SonlineBox .contentBoxC {
	width: 135px; /*height:335px;*/
	border: 2px solid #a9060e;
	background: #ffffff/* url(../img/greenbg.jpg) no-repeat*/;
	position: absolute;
	z-index: 2;
}
.SonlineBox .contentBoxC .closeTrigger {
	width: 25px;
	height: 25px;
	display: block;
	cursor: pointer;
	position: absolute;
	top: 5px;
	right: 5px;
	-webkit-transition: all 0.8s ease-out;
}
.SonlineBox .contentBoxC .closeTrigger:hover {
	-webkit-transform: scale(1) rotate(360deg);
}
.SonlineBox .contentBoxC .listBox {
	overflow: hidden;
	margin-bottom: 10px;
}
.SonlineBox .contentBoxC .listBox .Tlist {
	display: block;
	width: 86%;
	height: 22px;
	margin: 10px auto 0px auto;
	text-align: center;
}
.SonlineBox .contentBoxC .listBox .Tlist span {
	float: left;
	line-height: 22px;
}
.SonlineBox .contentBoxC .listBox .Tlist a {/*float:left;*/
}
.SonlineBox .contentBoxC .listBox .WWList {
	line-height: 18px;
	height: 18px;
}
.SonlineBox .contentBoxC .listBox .SkypeList {
	line-height: 23px;
	height: 23px;
}
.SonlineBox .contentBoxC .otherBox {
	clear: both;
	height: 115px;
	text-align: center;
}
.SonlineBox .contentBoxC .otherBox img {
	width: 105px;
	height: 105px;
}
.SonlineBox .contentBoxC .telBox {
	display: block;
	padding: 36px 10px 10px;
	color: #a9060e;
	font-size: 14px;
	line-height: 26px;
	font-family: '微软雅黑';
	background: url(../img/telbg.jpg) 0 0 no-repeat;
	text-align: center;
	font-weight: bold;
	word-wrap : break-word;
}
/*在线客服 end*/


/*手机底部导航*/
#toolbar {
	display: none;
}
 @media screen and (min-width:1220px) {
.container {
	padding: 0
}
}
 @media (min-width:1000px) and (max-width:1199px) {
#fh5co-header .navbar-form {
	margin-left: 12px;
}
#fh5co-header .navbar-body .nav li {
	padding: 0 10px;
}
footer .foot-top .last-item {
	margin-left: 5px;
}
#article-box-id #fh5co-content_show .show_content {
	margin-left: 30px;
}
#content_1 {
	height: 228px;
}
}
 @media screen and (max-width:1000px) {
#quirydialog .qdialog-head {
	width: 600px
}
#fh5co-header .navbar-body .nav li {
	padding: 0 0px;
}
#fh5co-header .navbar-body .nav li a {
	padding: 0 15px;
}
#fh5co-header .navbar-body .nav li ul {
	left: 0px;
}
.flexslider .slides li .overlay {
	top: 35%;
}
#fh5co-hero .flexslider .slider-text {
	width: 96%;
	left: 2%;
	margin: 0 auto
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner h2 {
	font-size: 24px;
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner p.f-tx {
	font-size: 14px;
	line-height: 160%
}
#fh5co-tab-list .bg-tab {
	padding: 20px 0
}
#fh5co-product-list .bg-product {
	padding: 25px 0 20px;
}
#fh5co-about-us .bg-about {
	padding: 30px 0 30px;
}
#fh5co-news-list .bg-news {
	padding: 25px 0 30px;
}
footer .foot-top .block-item1, footer .foot-top .block-item2 {
	height: 280px;
}
footer .foot-top .last-item {
	margin-left: 0px;
}
#fh5co-content_show .product-detail .content-img {
	margin-bottom: 30px;
}
#article-box-id #fh5co-content_show .show_content {
	margin-left: 20px;
}
#content_1 {
	height: 208px;
}
.line-big {
	margin-left: -10px;
	margin-right: -10px
}
.line-big .x1, .line-big .x2, .line-big .x3, .line-big .x4, .line-big .x5, .line-big .x6, .line-big .x7, .line-big .x8, .line-big .x9, .line-big .x10, .line-big .x11, .line-big .x12, .line-big .xl1, .line-big .xl2, .line-big .xl3, .line-big .xl4, .line-big .xl5, .line-big .xl6, .line-big .xl7, .line-big .xl8, .line-big .xl9, .line-big .xl10, .line-big .xl11, .line-big .xl12, .line-big .xs1, .line-big .xs2, .line-big .xs3, .line-big .xs4, .line-big .xs5, .line-big .xs6, .line-big .xs7, .line-big .xs8, .line-big .xs9, .line-big .xs10, .line-big .xs11, .line-big .xs12, .line-big .xm1, .line-big .xm2, .line-big .xm3, .line-big .xm4, .line-big .xm5, .line-big .xm6, .line-big .xm7, .line-big .xm8, .line-big .xm9, .line-big .xm10, .line-big .xm11, .line-big .xm12, .line-big .xb1, .line-big .xb2, .line-big .xb3, .line-big .xb4, .line-big .xb5, .line-big .xb6, .line-big .xb7, .line-big .xb8, .line-big .xb9, .line-big .xb10, .line-big .xb11, .line-big .xb12 {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px
}
}
 @media screen and (max-width:760px) {
#quirydialog .qdialog-head {
	width: 360px
}
#fh5co-offcanvas .nav {
	display: block;
	borer: none
}
.fh5co-nav-toggle {
	display: block;
}
.fh5co-heading .title-box {
	padding-right: 70px;
}
#fh5co-header {
	position: static !important;
	height: auto !important
}
#fh5co-header .navbar-head {
	padding: 0 0 10px 0;
	position: relative
}
#fh5co-header .icon-navicon {
	position: absolute;
	top: 50%;
	right: 0px;
	margin-top: -10px;
	background: none;
	color: #fff;
	font-size: 22px;
	border: none;
	transition: none;
	padding: 0;
}
#fh5co-header .navbar-head img {
	width: 130px;
	margin-top: 10px;
}
#fh5co-header .navbar-body {
	border: none
}
#fh5co-header .navbar-body .nav {
	overflow: auto;
	padding: 0;
	margin: 0;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb
}
#fh5co-header .navbar-body .nav li {
	display: block;
	width: 100%;
	padding: 14px 0;
	padding: 0 !important;
	margin: 0 !important;
	position: static;
	background: #fff
}
#fh5co-header .navbar-body .nav li a {
	text-align: left;
	background: none;
	line-height: 50px !important;
	padding: 0;
	margin: 0;
	position: relative;
	background: #fff;
	color: #666
}
#fh5co-header .navbar-body .nav li:last-child {
}
#fh5co-header .navbar-body .nav li ul {
	left: auto;
	width: 100%;
	position: relative;
	margin: 0px 0
}
#fh5co-header .navbar-body .nav li ul li {
	height: auto;
}
#fh5co-header .navbar-body .nav li ul li a {
	line-height: 35px !important;
}
#fh5co-header .navbar-body .nav li ul li:last-child {
	border-bottom: none
}
#fh5co-header .navbar-body .nav li ul li ul li a {
	background: #232228;
	font-size: 12px;
	height: 28px;
	line-height: 28px;
	padding: 0px 0 0 18px;
}
#fh5co-header .navbar-body .nav li ul li ul li a:hover {
	background: #555
}
#fh5co-header .navbar-form {
	margin: 0px;
	padding: 15px 0 42px 12px;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
	border-top: 1px solid #bbb;
	background: #fff
}
#fh5co-header .navbar-form input.inputkey {
	border: 1px solid #eee;
	border-right: none;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
}
#fh5co-header .navbar-form button {
	border: 1px solid #eee;
	border-left: none;
	height: 30px;
	padding-right: 9px;
	width: auto !important
}
#fh5co-about-us .intro .desc {
	padding: 0 15px;
}
#fh5co-news-list .show-list .item {
	text-align: center
}
footer .foot-top .block-item1, footer .foot-top .block-item2 {
	height: auto !important;
}
footer .foot-top .block-item {
	margin-bottom: 30px;
}
#fh5co-content_show .inner-nav {
	height: auto !important;
	line-height: auto !important;
}
#fh5co-content_show .inner-nav .right-menu {
	padding: 0;
	margin: 0;
}
#fh5co-content_show .inner-nav h3 {
	max-width: 100%
}
#fh5co-content_show .inner-nav .float-right {
	float: none !important;
	text-align: center
}
#article-box-id #fh5co-content_show .show_content {
	margin-left: 0px;
}
#content_1 {
	height: 278px;
}
.slideshow {
	height: 180px;
}
/*手机底部导航*/
.blank55 {
	height: 55px;
	line-height: 1px;
	clear: both;
}
#toolbar {
	color: #fff;
	width: 100%;
	height: 54px;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 8;
	background: #000;
	display: block;
}
#toolbar a {
	width: 100%;
	color: #fff;
	display: block;
	padding: 5px 0 0 0;
	line-height: 23px;
	font-size: 14px;
}
#toolbar a span {
	font-size: 22px;
	display: block;
}
}
 @media screen and (max-width:480px) {
#quirydialog .qdialog-head {
	width: auto !important
}
.fh5co-heading span.desc {
	display: none
}
#fh5co-header .navbar-head img {
	width: 120px;
}
#fh5co-tab-list .tab-head .tab-nav li a {
	width: auto !important;
	font-size: 14px;
	padding: 0 8px !important
}
#fh5co-tab-list .tab-body {
	margin-top: 0
}
#fh5co-about-us .intro h3 {
	font-size: 14px;
	line-height: 160%;
	font-weight: bold
}
#fh5co-news-list .show-list .item {
	text-align: left
}
#fh5co-news-list .item .media-img {
	text-align: left !important
}
#fh5co-news-list .item .media-img img {
	width: 100% !important;
}
.article-media .media .media_img {
	width: 82px;
	margin-right: 10px;
}
.article-media .media .media_img img {
	height: 45px;
	width: 80px;
	padding: 1px;
}
.article-media .media .time, .article-media .media .desc {
	display: none
}
.article-media img {
	width: 80px;
}
.article-media .media-body h3 {
	line-height: 100%;
	font-size: 12px;
}
.article-media .media-body h3 a {
	font-size: 14px;
	line-height: 150%
}
#fh5co-news-list .media .media-body p, #fh5co-news-list .media .media-body span.time {
	display: none
}
#fh5co-content_show .inner-nav .nav li a {
	padding: 0 12px;
}
#fh5co-content_show .contact-box {
	padding: 25px 10px 35px;
}
.slideshow {
	height: 120px;
}
}
/* 内页 end*/

/* ======置顶 ======*/
.backToTop {
	display: none;
	width: 35px;
	height: 35px;
	position: fixed;
	_position: absolute;
	right: 5px;
	bottom: 60px;
	_bottom: "auto";
	cursor: pointer;
	z-index: 9;
	background: #666 url(../img/icon-gotop-fixed.png) no-repeat center center;
}
.backToTop:hover {
	background-color: #000;
}
  /*分页样式*/
.pglist {
	padding: 25px 0;
	float: left;
	width: 100%;
	line-height: 34px;
	text-align: center;
}
.pglist a {
	color: #fff;
	padding: 0 12px;
	margin: 0 5px;
font-/weight: bold;
	background: #ea7724;
}
.pglist * {
	display: inline-block;
	_zoom: 1;
	_display: inline;
	vertical-align: middle;
	line-height: 32px;
	height: 32px;
	padding-bottom: 1px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
}
.pglist .hover {
	display: inline-block;
	color: #fff;
	background: #23201d;
}
.pglist a:hover {
	display: inline-block;
	color: #fff;
	background: #23201d;
}
.pglist a.current {
	display: inline-block;
	color: #fff;
	background: #23201d;
}
/*屏蔽uc广告*/
#uc_recommend_ad {
	display: none !important;
}
iframe[src*="ucweb.com"] {
	display: none !important;
}
/*end*/


@media (max-width:767px) {
.link-box { 
	display: none;
}
}
.link-box{}
.link-con{ width:1200px; height:40px; line-height:40px; margin:0 auto;}
.link-con span{color:#fff;float:left;font-size:16px;}
.link-con a{  margin:0 10px 0 0; float:left;font-size:14px;}
